.dark-mode{
  background-color: #121212;
  color: #ffffff;
}

.light-mode .main-contact {
  background-color: #f5f5f5;
  color: #000000;
}


/* Modo oscuro */
.dark-mode .contact-form input,
.dark-mode .contact-form textarea {
  background-color: #1e1e1e;
  color: #fff;
  border: 1px solid #444;
}

.dark-mode .contact-form button {
  background-color: #1a73e8;
}

.dark-mode .contact-form button:hover {
  background-color: #155ab6;
}